.Cover {
  position: relative;
  top: -50px;
  height: 60vh;
  width: 100%;
}

.Cover img:not([class]) {
  min-width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.ShapeDesign {
  position: absolute;
  width: 100%;
  height: 13%;
  bottom: -2px;
  left: 0;
  right: 0;
  z-index: 1;
}

.PageTitle {
  padding: 0 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 72px;
  color: var(--primary-white);
  text-shadow: 3px 3px 3px var(--primary-black);
  letter-spacing: 0.1em;
  line-height: 1;
}
.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 100px;
  width: 100%;
}

.Hero > img {
  height: 65px;
  width: auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.Title {
  text-align: center;
  font-weight: 500;
  font-size: 56px;
  color: var(--beige-brown);
  margin-bottom: 60px;
}

.Description {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.Content {
  width: 100%;
}

.Cards {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
}

.ContactWrapper {
  background-color: #ebebeb;
}

.Contact {
  padding: 70px 20px 0;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 100px;
}

.Input {
  color: var(--primary-black);
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0 3px 5px rgb(0 0 0 / 18%);
  height: 50px;
  padding: 0 20px;
  width: 100%;
  transition: 180ms box-shadow ease-in;
}

.Input:focus {
  box-shadow: 0 0 0 3px #966810;
}

.Button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  background-color: var(--primary-white);
  border: 2px solid var(--dark-brown);
  border-radius: 8px;
  color: var(--dark-brown);
  cursor: pointer;
  transition: all 250ms ease-in 0s;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 15px auto 0;
}

.Button:hover {
  background-color: var(--dark-brown);
  color: var(--primary-white);
}

.Textarea {
  color: var(--primary-black);
  border-radius: 8px;
  outline: none;
  border: none;
  box-shadow: 0 3px 5px rgb(0 0 0 / 18%);
  height: 100px;
  padding: 15px 20px;
  transition: 180ms box-shadow ease-in;
  resize: none;
  width: 100%;
}

.Textarea:focus {
  box-shadow: 0 0 0 3px #966810;
}

@media screen and (max-width: 400px) {
  .Title {
    font-size: 52px;
  }
}
